html, body, section, div{
    display: block;
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid red;
    width: 1004px;
    margin: 10px auto;
    padding: 10px;
}
header nav li{
    display: inline-block;
    margin-right: 10px;
}

#content{
    border: 1px solid red;
    width: 1004px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.ul-products{
    display: block;
}
.ul-products li{
    display: inline-block;
    border: 1px solid green;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}
.ul-products li .image-wrapper{
    width: 250px;
    height: 240px;
    margin: 0 auto;
}
.ul-products li .image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.products-list{
    width: 100%;
    border-collapse: separate;
}
.products-list thead{
    text-align: center;
}
.products-list td{
    border: 1px solid black;
    padding: 5px;
}
.products-list td .image-wrapper{
    width: 100px;
    height: 90px;
    margin: 0 auto;
    text-align: center;
}
.products-list td .image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.prod-detail-img{
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid red;
    float: left;
    margin-right: 20px;
}
.prod-detail-img img{
    max-width: 100%;
    max-height: 100%;
}
.prod-detail-info{
    float: left;
}