{% extends "base.html" %}

{% block content %}
    <div class="prod-detail-img">
        <img class="img-thumbnail" src="{{ product.image.url }}">
    </div>
    <div class="panel panel-default prod-detail-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ product.name }}</h3>
        </div>
        <div class="panel-body">
            <p>Description: {{ product.description }}</p>
            <p>Size: {{ product.size }}</p>
            <p>Colour: {{ product.colour }}</p>
            <p>Price: {{ product.price }}</p>
            {% if product.quantity %}
            <a href="/cart/?product={{ product.id }}" class="btn btn-default">Buy</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
